<main class="interface">
  <div id="main-header">
    <img id="main-logo" src="https://onepage.dropagence.fr/game/bm/img/logo-bm.png">
    <div id="main-player">
      <h2>Ilyes</h2>
      <div class="main-player-menu">
        <img src="https://onepage.dropagence.fr/game/bm/img/static/ilyes.jpg">
        <div class="circle-btn"></div>
        <div class="circle-btn"></div>
      </div>
    </div>
  </div>
  <div id="main-container" class="monster-block">

    <div id="main-container-items">

      <div id="main-content">
        <h1>Création de votre compte Battle Monster</h1>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
           <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
           <%= f.input :name,
                      required: true,
                      autofocus: true,
                      input_name: { autocomplete: "name" }%>
           <%= f.input :avatar,
                      required: true,
                      autofocus: true,
                      input_avatar: { autocomplete: "choisis ton avatar?" }%>
           <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
           <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          </div>

        </div>

        <div id="main-controls">
          <div class="circle-btn"></div>
          <div class="large-btn"><h3><%= f.button :submit, "Création du compte" %></h3></div>
        </div>
      <% end %>
    </div>
  </div>
</main>
