<h1>Ici, vous pouvez ajouter votre monstre</h1>
<%= simple_form_for @monster do |f| %>
  <%= f.input :name, label: "nom" %>
  <%= f.input :specie, label: "espece" %>
  <%= f.input :description, label: "description"%>
  <%= f.input :price, label: "prix"%>
  <%= f.input :image, as: :file   %>
  <%= f.button :submit %>
<% end %>
