<%= link_to '<< Retour', monsters_path, class: 'back-link' %>
<div class="container-monster">
  <% owner = User.find(@monster.user_id) %>
  <div class="monster-banner" style='background-image: url("http://onepage.dropagence.fr/game/place/game-background-<%= rand(1..5) %>.png");'>
    <div class="monster-banner-info">
      <h1><%= @monster.name %></h1>
      <h2>Lv <%= @monster.level %> - <%= @monster.price %> pc</h2>
      <%= cl_image_tag(@monster.image.key, width:"450px")  %>
    </div>
  </div>
  <div class="monster-body">
    <div class="monster-body-info">
      <div class="monster-body-flex">
        <h1 class="title-light">Informations</h1>
        <p><strong><%= @monster.specie.capitalize %> - niveau <%= @monster.level %> - <%= @monster.price %> pc - proposé par <%= owner.name %> </strong></p>
        <p><%= @monster.description %></p>
        <%= image_tag 'http://onepage.dropagence.fr/game/place/tuto.png', id: 'tuto' %>
      </div>
    </div>
    <div class="monster-body-contract">
      <div class="monster-body-flex">
        <h1 class="title-light">Contrat</h1>

        <% class_contrat = "contrat-non" %>
        <% owner.enlisted_monsters.each do |contract| %>
          <% if contract.monster_id == @monster.id && contract.actif == true %>
            <% class_contrat = "contrat-oui" %>
          <% end %>
        <% end %>

        <% if class_contrat == "contrat-oui" %>
            <p class="alert-monster">Ce monstre est déjà sous contrat !</p>
        <% else %>
          <% if current_user.coin > @monster.price %>
            <%= simple_form_for [@monster, @contract] do |f| %>
              <%= f.input :battles, label: 'Nombre de combats' %>
              <%= f.button :submit, value: 'Engager !' %>
            <% end %>
          <% else %>
            <p class="alert-monster">Désolé... vous n'avez pas assez de pogs !</p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

</div>
