
<div id="main-container" class="monster-block">
  <div id="main-container-items">
    <div id="main-content" class="profil">
      <div class="main-separation">
        <div class="profil-gauche">

          <div class="profil-info">

            <img src="<%= cl_image_path @user.avatar.key %>" width="150" class="profil-info-avatar">
            <h1>Profil de <%= @user.name %></h1>

            <% if @user == current_user %>
              <%= link_to edit_user_registration_path do %>
                <i class="fa-solid fa-pen pen-edit"></i>
              <% end %>
            <% end %>

          </div>

          <div class="profil-stat">

            <div class="profil-stat-item">
              <img src="https://onepage.dropagence.fr/game/bm/img/static/kit/pog.png" width="40" />
              <p><%= @user.pc %> PogCoin</p>
            </div>

            <div class="profil-stat-item">
              <img src="https://onepage.dropagence.fr/game/bm/img/static/kit/battle.png" width="40" />
              <% if @battles.count <= 1 %>
                <p><%= @battles.count %> Combat</p>
              <% else %>
                <p><%= @battles.count %> Combats</p>
              <% end %>
            </div>

            <div class="profil-stat-item">
              <img src="https://onepage.dropagence.fr/game/bm/img/static/kit/medal.png" width="40" />
              <% if @victory.count <= 1 %>
                <p><%= @victory.count %> Victoire</p>
              <% else %>
                <p><%= @victory.count %> Victoires</p>
              <% end %>
            </div>

          </div>

          <div class="profil-monster">

            <div class="profil-monster-head">
              <img src="<%= image_path(@user.monsters.first.specie.monster_head)%>" width="100">
            </div>
            <div class="profil-monster-info">
              <h3><%= @user.monsters.first.name %></h3>
              <p><%= @user.monsters.first.specie.name.capitalize %> - <%= @user.monsters.first.xp %> xp</p>
            </div>

          </div>

        </div>

        <div id="profil-droite">

          <% if @battles.count == 0 %>

            <div class="profil-last">
              <img src="https://onepage.dropagence.fr/game/bm/img/static/ugly/tuto.png" />
              <h2 class="h-red">Votre dernier combat</h2>
              <div class="profil-last-info">
                <p>Vous n'avez pas<br>encore joué !</p>
              </div>
            </div>

          <% else %>

            <div class="profil-last">
              <img src="https://onepage.dropagence.fr/game/bm/img/static/ugly/tuto.png" />
              <h2 class="h-red">Votre dernier combat</h2>
              <div class="profil-last-info">
                <% if @battles.last.battle.winner_id == @user.id %>
                  <p>Vous avez gagné !</p>
                <% else %>
                  <p>Vous avez perdu !</p>
                <% end %>
                <p>(<%= @battles.last.battle.created_at.strftime("%d/%m/%Y") %>)</p>
              </div>
            </div>

          <% end %>

        </div>

      </div>
    </div>
    <div id="main-controls">
      <%= link_to page_main_path do %>
        <div class="circle-btn button-1">
          <i class="fa-solid fa-arrow-left"></i>
        </div>
      <% end  %>
    </div>
  </div>
</div>
