
<div id="main-container" class="monster-block">

  <% species = Specie.all %>
  <%= simple_form_for @monster do |f| %>

    <div id="main-container-items">

      <div id="main-content">

        <h1>Choisis ton premier monstre</h1>
        <div class="monster-specie">

          <p>Survole un monstre pour en savoir plus sur son espèce ! </p>
          <div class="monster-specie-items">
            <% species.each do |specie| %>
              <div class="monster-specie-info">
                <img classe="monster-head" src="<%= specie.monster_head %>" width="90px" height="90px">
                <h4><%= specie.name %></h4>
              </div>
            <% end %>
          </div>

        </div>

        <div class="monster-row">

          <div class="monster-row-content">
            <h3 class="h-red">Choisis une espèce</h3>
          </div>

          <div class="monster-row-right large-btn large-input large-btn-chevron">
            <%= f.association  :specie, collection: Specie.all, include_blank: :empty, label: false %>
          </div>

        </div>

        <div class="monster-row">

          <div class="monster-row-content">
            <h3 class="h-red">Choisissez un nom</h3>
          </div>

          <div class="monster-row-right large-btn large-input">
            <%= f.input :name, label: false %>
          </div>

        </div>

      </div>

      <div id="main-controls">

        <%= link_to page_start_intro_path do %>
          <div class="circle-btn">
              <i class="fa-solid fa-arrow-left"></i>
          </div>
        <% end  %>

        <div class="large-btn">
          <h3><%= f.submit %></h3>
        </div>

      </div>

    </div>

  <% end %>

</div>
