<div class="load" data-loading-target="load">
  <% if deck1.empty == true %>

    <div class="monster-row">
      <div class="monster-row-content">
        <img class="avatar" src="<%= cl_image_path deck1.user.avatar.key %>">
        <h3 class="h-red"><%= deck1.user.name %> n'est pas encore prêt</h3>
      </div>
      <div class="monster-row-right">
        <img src="https://onepage.dropagence.fr/game/bm/img/static/kit/off.png">
      </div>
    </div>

  <% else %>

    <div class="monster-row">
      <div class="monster-row-content">
        <img class="avatar" src="<%= cl_image_path deck1.user.avatar.key %>">
        <h3 class="h-red"><%= deck1.user.name %> est prêt à jouer</h3>
      </div>
      <div class="monster-row-right">
        <img src="https://onepage.dropagence.fr/game/bm/img/static/kit/on.png">
      </div>
    </div>

  <% end %>

  <% if deck2.empty == true %>

    <div class="monster-row">
      <div class="monster-row-content">
        <img class="avatar" src="<%= cl_image_path deck2.user.avatar.key %>">
        <h3 class="h-red"><%= deck2.user.name %> n'est pas encore prêt</h3>
      </div>
      <div class="monster-row-right">
        <img src="https://onepage.dropagence.fr/game/bm/img/static/kit/off.png">
      </div>
    </div>

  <% else %>

    <div class="monster-row">
      <div class="monster-row-content">
        <img class="avatar" src="<%= cl_image_path deck2.user.avatar.key %>">
        <h3 class="h-red"><%= deck2.user.name %> est prêt à jouer</h3>
      </div>
      <div class="monster-row-right">
        <img src="https://onepage.dropagence.fr/game/bm/img/static/kit/on.png">
      </div>
    </div>

  <% end %>

  <div class="loading-content">
    <img src="https://onepage.dropagence.fr/game/bm/img/static/ugly/cleytus.png">

    <% if deck1.empty == true || deck2.empty == true %>
      <style>#go-arene {display:none}</style>
      <p>Votre adversaire n'est pas encore prêt, vous ne pouvez pas encore entrer dans l'arène... Patience, votre heure viendra...</p>
    <% else %>
      <p>Les deux joueurs sont prêts, on ne peut plus reculer désormais ! Bonne chance pour ce combat... Vous en aurez besoin !</p>
    <% end %>

  </div>
</div>
