  <div class="round" data-battle-subscription-target="round">

    <div id="round-controls">

      <% if deck1.hp <= 0 %>

        <div class="go-control">
          <p>Game Over - <%= deck2.user.name %> wins ! (<%= deck2.hp %> hp)</p>
          <%= simple_form_for(battle) do |f| %>
            <%= f.input :winner, :as => :hidden, :input_html => { :value => deck2.user_id, :class => 'form-control' } %>
            <%= f.submit 'Retour au menu', :class => 'btn btn-primary' %>
          <% end %>
        </div>

      <% elsif deck2.hp <= 0 %>

        <div class="go-control">
          <p>Game Over - <%= deck1.user.name %> wins ! (<%= deck1.hp %> hp)</p>
          <%= simple_form_for(battle) do |f| %>
            <%= f.input :winner_id, :as => :hidden, :input_html => { :value => deck1.user_id, :class => 'form-control' } %>
            <%= f.submit 'Retour au menu', :class => 'btn btn-primary' %>
          <% end %>
        </div>

      <% else %>

        <div class="nx-control">
          <% if current_deck.user == current_user %>
            <h2>Round <%= battle.round %></h2>
            <h3><%= current_deck.user.name %> à toi de jouer !</h3>
            <p><a class="btn-combats" data-action="click->battle-subscription#next" href="<%= battle_next_round_path(battle, next_deck) %>">Lancer <%= current_deck.attack.name %></a></p>
          <% else %>
            <h2>Round <%= battle.round %></h2>
            <h3>Votre adversaire est en train de jouer !</h3>
            <p><a class="btn-combats">Aucune action disponible</a></p>
          <% end %>
        </div>

      <% end %>

    </div>

  </div>
