<style>
  p { color: black }
</style>

<div>
  <h1>Préparez votre Deck pour la bataille #<%= @battle.id %></h1>
  <p> choisis ton attaque </p>
</div>

<%= simple_form_for [@battle, @setup_deck] do |f| %>
  <%= f.association :attack_one, collection: @setup_specie.attacks, label: "choisis l'attaque 1", include_blank: :empty %>
  <%= f.association :attack_two, collection: @setup_specie.attacks, label: "choisis l'attaque 2", include_blank: :empty %>
  <%= f.association :attack_three, collection: @setup_specie.attacks, label: "choisis l'attaque 3", include_blank: :empty %>
  <%= f.button :submit %>
<% end %>
