<div class="container chatroom">
  <h1>Combat #<%= @battle.id %></h1>

  <div id="arena">
    <p><%= @deck1.user.name %> vs. <%= @deck2.user.name %></p>
  </div>

  <ul id="rounds">
    <li>Round <%= @round += 1 %> : <%= @current_deck.user.name %> - <a href="#">attaque !</a></li>
  </ul>
</div>
