<div id="body-combats">

  <% if @deck2.hp <= 25 %>
    <style>#progress2.blue span { background-color: red }</style>
  <% elsif @deck2.hp > 25 && @deck2.hp < 50 %>
    <style>#progress2.blue span { background-color: orange }</style>
  <% end %>

  <% if @deck1.hp <= 25 %>
    <style>#progress1.blue span { background-color: red }</style>
  <% elsif @deck1.hp > 25 && @deck1.hp < 50 %>
    <style>#progress1.blue span { background-color: orange }</style>
  <% end %>

  <div id="container-combats" class="container">
    <div class="battle"
      data-controller="battle-subscription"
      data-battle-subscription-deck-id-value="<%= @my_deck.id %>"
      data-battle-subscription-deck1-id-value="<%= @deck1.id %>"
      data-battle-subscription-deck2-id-value="<%= @deck2.id %>"
    >

      <div id="combats-title">
        <h1>Combat #<%= @battle.id %></h1>
      </div>

      <div class="arena">

        <div class="arena-info">
          <div class="arena-deck-1">
            <div class="deck-label"><h2><%= @deck1.monster.name %></h2><h2><%= @deck1.monster.xp %> xp</h2></div>
            <div id="progress1" class="progress-bar blue stripes"><span class="prog-1" style="width:<%= @deck1.hp %>%"></span></div>
          </div>

          <div class="arena-limit">
            <p>VS</p>
          </div>

          <div class="arena-deck-2">
            <div class="deck-label"><h2><%= @deck2.monster.xp %> xp</h2><h2><%= @deck2.monster.name %></h2></div>
            <div id="progress2" class="progress-bar blue stripes"><span class="prog-2" style="width:<%= @deck2.hp %>%"></span></div>
          </div>
        </div>

        <div class="arena-deck current-deck-<%= @current_deck.user_id %>">
          <div class="arena-deck-1">
            <div id="arena-deck-1-monster" class="<%= @deck1.monster.specie.name %> left idle"></div>
          </div>

          <div class="arena-deck-2">
            <div id="arena-deck-2-monster" class="<%= @deck2.monster.specie.name %> right idle"></div>
          </div>
        </div>

        <div class="arena-players">
          <div class="arena-deck-1">
            <div id="arena-deck-1-player" class="arena-deck-player">
              <img class="avatar" src="<%= cl_image_path @deck1.user.avatar.key %>">
              <h2>Joueur 1 - <%= @deck1.user.name %></h2>
            </div>
          </div>

          <div class="arena-deck-2">
            <div id="arena-deck-2-player" class="arena-deck-player">
              <h2><%= @deck2.user.name %> - Joueur 2</h2>
              <img class="avatar" src="<%= cl_image_path @deck2.user.avatar.key %>">
            </div>
          </div>
        </div>

        <div id="arena-attack-1"></div>
        <div id="arena-attack-2"></div>

      </div>

      <div class="rounds" data-battle-subscription-target="rounds">
          <%= render :partial => 'round', :locals => { battle: @battle, deck1: @deck1, deck2: @deck2, current_deck: @current_deck, next_deck: @next_deck } %>
      </div>

    </div>
  </div>
  <style>#main-header {display: none;}</style>
</div>
