<!DOCTYPE html>
<html>
  <head>
    <title>BATTLEMonster</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <%= render "shared/flashes" %>
    <%= render 'layouts/header' if !current_page?(root_path) %>
    <%# changement de root vers template home %>
      <%# <div class="container py-5"> %>
       <%# #suppression mt-5 %>
        <%= yield %>
      <%# </div> %>
    <%= render 'layouts/footer' if !current_page?(root_path) %>

  </body>
</html>
